<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Shop</a></li>
          <li class="main-header__item">
            <a class="active" href="/admin/add-products">Add Products</a>
          </li>
        </ul>
      </nav>
    </header>
    <div>OOPS, We can't find the page you are looking for!</div>
  </body>
</html>
