<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/products.css" />

  <body>
    <%- include("../partials/nav.ejs") -%>

    <div class="content">
      <h2>No items in the cart</h2>
    </div>

    <%- include("../partials/footer.ejs") -%>
  </body>
</html>
